.p1 {
    font-family: Bùi Duy Cường 2021050125 "Times New Roman", Times, serif;
}

.p2 {
    font-family: Bùi Duy Cường 2021050125 Arial, Helvetica, sans-serif;
}

.p3 {
    font-family: Bùi Duy Cường 2021050125 "Lucida Console", "Courier New", monospace;
}