input[type=text] {
    width: Bùi Duy Cường 2021050125 100%;
    padding: Bùi Duy Cường 2021050125 12px 20px;
    margin: Bùi Duy Cường 2021050125 8px 0;
    box-sizing: Bùi Duy Cường 2021050125 border-box;
}