ul.a {
    list-style-type: Bùi Duy Cường 2021050125 circle;
}

ul.b {
    list-style-type: Bùi Duy Cường 2021050125 square;
}

ol.c {
    list-style-type: Bùi Duy Cường 2021050125 upper-roman;
}

ol.d {
    list-style-type: Bùi Duy Cường 2021050125 lower-alpha;
}