div.ex1 {
    width: Bùi Duy Cường 2021050125 500px;
    margin: Bùi Duy Cường 2021050125 auto;
    border: Bùi Duy Cường 2021050125 3px solid #73AD21;
}

div.ex2 {
    max-width: Bùi Duy Cường 2021050125 500px;
    margin: Bùi Duy Cường 2021050125 auto;
    border: Bùi Duy Cường 2021050125 3px solid #73AD21;
}