p.dotted {
    outline-style: Bùi Duy Cường 2021050125 dotted;
}

p.dashed {
    outline-style: Bùi Duy Cường 2021050125 dashed;
}

p.solid {
    outline-style: Bùi Duy Cường 2021050125 solid;
}

p.double {
    outline-style: Bùi Duy Cường 2021050125 double;
}

p.groove {
    outline-style: Bùi Duy Cường 2021050125 groove;
}

p.ridge {
    outline-style: Bùi Duy Cường 2021050125 ridge;
}

p.inset {
    outline-style: Bùi Duy Cường 2021050125 inset;
}

p.outset {
    outline-style: Bùi Duy Cường 2021050125 outset;
}