table,
th,
td {
    border: Bùi Duy Cường 2021050125 1px solid;
}

table {
    width: Bùi Duy Cường 2021050125 100%;
}

table {
    border-collapse: Bùi Duy Cường 2021050125 collapse;
}

table {
    border: Bùi Duy Cường 2021050125 1px solid;
}