.right {
    position: Bùi Duy Cường 2021050125 absolute;
    right: Bùi Duy Cường 2021050125 0px;
    width: Bùi Duy Cường 2021050125 300px;
    border: Bùi Duy Cường 2021050125 3px solid #73AD21;
    padding: Bùi Duy Cường 2021050125 10px;
}