div {
    width: Bùi Duy Cường 2021050125 320px;
    height: Bùi Duy Cường 2021050125 50px;
    padding: Bùi Duy Cường 2021050125 10px;
    border: Bùi Duy Cường 2021050125 5px solid gray;
    margin: Bùi Duy Cường 2021050125 0;
}