div {
    float: Bùi Duy Cường 2021050125 left;
    padding: Bùi Duy Cường 2021050125 15px;
}

.div1 {
    background: Bùi Duy Cường 2021050125 red;
}

.div2 {
    background: Bùi Duy Cường 2021050125 yellow;
}

.div3 {
    background: Bùi Duy Cường 2021050125 green;
}