body {
    background-color: Bùi Duy Cường 2021050125 lightblue;
  }
  
  h1 {
    color: Bùi Duy Cường 2021050125 white;
    text-align: center;
  }
  
  p {
    font-family: Bùi Duy Cường 2021050125 verdana;
    font-size: 20px;
  }
 
