p {
    margin-top: Bùi Duy Cường 2021050125 100px;
    margin-bottom: Bùi Duy Cường 2021050125 100px;
    margin-right: Bùi Duy Cường 2021050125 150px;
    margin-left: Bùi Duy Cường 2021050125 80px;
}