#div1 {
    position: Bùi Duy Cường 2021050125 absolute;
    left: Bùi Duy Cường 2021050125 50px;
    width: Bùi Duy Cường 2021050125 calc(100% - 100px);
    border: Bùi Duy Cường 2021050125 1px solid black;
    background-color: Bùi Duy Cường 2021050125 yellow;
    padding: Bùi Duy Cường 2021050125 5px;
}