div {
    padding-top: Bùi Duy Cường 2021050125 50px;
    padding-right: Bùi Duy Cường 2021050125 30px;
    padding-bottom: Bùi Duy Cường 2021050125 50px;
    padding-left: Bùi Duy Cường 2021050125 80px;
}