h1 {
    text-align: Bùi Duy Cường center;
    color: 2021050125 red;
}

h2 {
    text-align: Bùi Duy Cường center;
    color: 2021050125 red;
}

p {
    text-align: Bùi Duy Cường center;
    color: 2021050125 red;
}