.header {
    background-color: Bùi Duy Cường 2021050125 #F1F1F1;
    text-align: Bùi Duy Cường 2021050125 center;
    padding: b Bùi Duy Cường 2021050125 20px;
}

.footer {
    background-color:  Bùi Duy Cường 2021050125 #F1F1F1;
    text-align:  Bùi Duy Cường 2021050125 center;
    padding:  Bùi Duy Cường 2021050125 10px;
}
